doctype html
html
	head
		meta(charset='utf-8')
		link(rel="stylesheet" type="text/css" href="/static/css/reset.css")
		link(rel="stylesheet" type="text/css" href="/static/css/admin-login.css")
		script(src="/static/js/jquery-1.11.3.min.js")
		title 后台登录
	body
		.admin-login-wrap
			.hr
			.admin-login
				p 后台管理登录
				form(method="post" action="/admin/login")
					label 用户名：
					input(type="text" name="adminname")
					label 密码：
					input(type="password" name="adminpassword")
					p.admin-login-sub
						input(type="submit" value="提交")

