doctype html
html(ng-app="adminApp")
	head
		meta(charset='utf-8')
		link(rel="stylesheet" type="text/css" href="/static/css/reset.css")
		link(rel="stylesheet" type="text/css" href="/static/css/icon.css")
		link(rel="stylesheet" type="text/css" href="/static/css/admin.css")
		link(rel="stylesheet" type="text/css" href="/static/css/admin-pro.css")
		script(src="/static/js/jquery-1.11.3.min.js")
		script(src="/static/js/angular.min.js")
		script(src="/static/js/angular-admin-controller.js")
		title 后台管理
	body(ng-controller="adminController")
		.admin-wrap
			.admin-wrap-left
				.admin-title
					h1 电商后台管理系统
				.admin-section
					ul
						li.admin-active
							i(class="icono-cart")
							i(class="icono-caretLeft")
							a(href="#") 产品管理
							ul
								li
									a(href="#") 产品信息
								li
									a(href="#") 产品评价
						li
							i(class="icono-barChart")
							i(class="icono-caretLeft")
							a(href="#") 销售管理
						li
							i(class="icono-file")
							i(class="icono-caretLeft")
							a(href="#") 订单管理
						li
							i(class="icono-ruler")
							i(class="icono-caretLeft")
							a(href="#") 库存管理
						li
							i(class="icono-document")
							i(class="icono-caretLeft")
							a(href="#") 内容管理
						li
							i(class="icono-user")
							i(class="icono-caretLeft")
							a(href="#") 客户管理
						li
							i(class="icono-gear")
							i(class="icono-caretLeft")
							a(href="#") 系统管理
						li
							i(class="icono-pieChart")
							i(class="icono-caretLeft")
							a(href="#") 财务管理
			.admin-wrap-right
				.admin-welcome
					form(method="get" action="/admin/logout")
						input(type="submit" value="退出")
					h2
						| 你好！
						span 管理员
				block content