extends ./admin.pug
block content
	.section-wrap
		h1 订单列表
		table
			thead
				tr
					th 订单编号
					th 状态
					th 商品名称
					th 商品数量
					th 联系方式
					th 收货人
					th 下单时间
					th 操作
			tbody
				tr(ng-repeat="order in orders")
					td(ng-bind="$index+1")
					td(ng-bind="order.status")
					td(ng-bind="order.items[0].product[0].title")
					td(ng-bind="order.items[0].quantity")
					td(ng-bind="order.address[0].tel")
					td(ng-bind="order.address[0].name")
					td(ng-bind="order.timestamp")
					td 删除
			tfoot
				tr
					td(colspan="8") 已经是全部订单