extends ./admin.pug
block content
	.section-wrap
		h1 注册用户
		table
			thead
				tr
					th ID
					th 头像
					th 昵称
					th 账号
					th 会员信息
					th 最后登录时间
					th 操作
			tbody
				tr(ng-repeat="user in users")
					td(ng-bind="$index+1")
					td
						img(src="/static/images/icon.gif")
					td(ng-bind="user.username")
					td(ng-bind="user.email")
					td vip
					td 1992.1.2
					td 删除
			tfoot
				tr
					td(colspan="7") 已经是全部用户