extends ./admin.pug
block content
	.section-wrap
		h1 订单列表
		table
			thead
				tr
					th 订单编号
					th 状态
					th 商品名称
					th 商品数量
					th 联系方式
					th 收货人
					th 下单时间
					th 操作
			tbody
				tr
					td 111
					td 未发货
					td 正品柑橘
					td 10
					td 178931323
					td kingbosss
					td 1992.1.2
					td 删除
			tfoot
				tr
					td(colspan="8") 已经是全部订单