extends ./layout.pug
block content
	.banner
		ul
			li(class="img-active")
				a
					img(src="/static/images/banner1.png")
			li
				a
					img(src="/static/images/banner2.png")
			li
				a
					img(src="/static/images/banner3.png")
		.focus
			span(class="focus-active")
			span
			span
	.aboutUs
		.title
			h1 关于我们
			span about us
		.aboutUs-cont.clearfix
			.aboutUs-cont-left
				img(src="/static/images/pic1.jpg")
			.aboutUs-cont-right
				p 关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们
		.more
			a(href="#") more
	.product
		.title
			h1 产品列表
			span product list
		div(class="J_wxgd wxgd-main" data-setting='{}')
			div(class="wxgd-btn wxgd-prev-btn")
			.wxgd-picshow
				ul.wxgd-list
					li.wxgd-item
						a(href="javascript:;")
							img(src="/static/images/1.jpg" width="100%" height="100%" alt="1" title="图片1")
					li.wxgd-item
						a(href="javascript:;")
							img(src="/static/images/2.jpg" width="100%" height="100%" alt="1" title="图片1")
					li.wxgd-item
						a(href="javascript:;")
							img(src="/static/images/3.jpg" width="100%" height="100%" alt="1" title="图片1")
					li.wxgd-item
						a(href="javascript:;")
							img(src="/static/images/4.jpg" width="100%" height="100%" alt="1" title="图片1")
					li.wxgd-item
						a(href="javascript:;")
							img(src="/static/images/5.jpg" width="100%" height="100%" alt="1" title="图片1")
					li.wxgd-item
						a(href="javascript:;")
							img(src="/static/images/6.jpg" width="100%" height="100%" alt="1" title="图片1")
					li.wxgd-item
						a(href="javascript:;")
							img(src="/static/images/7.jpg" width="100%" height="100%" alt="1" title="图片1")
					li.wxgd-item
						a(href="javascript:;")
							img(src="/static/images/8.jpg" width="100%" height="100%" alt="1" title="图片1")
			div(class="wxgd-btn wxgd-next-btn")
		.more
			a(href="#") more
	.baike
		.title
			h1 水果百科
			span fruit baike
		.baike-cont
			.baike-cont-left
				img(src="/static/images/pic1.jpg")
			.baike-cont-right
				ul
					li
						a(href="#") 柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘
					li
						a(href="#") 柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘
					li
						a(href="#") 柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘
					li
						a(href="#") 柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘
					li
						a(href="#") 柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘
					li
						a(href="#") 柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘柑橘
		.more
			a(href="#") more
	script(src="/static/js/index.js")
	script(src="/static/js/wxgd.js")
	script(type="text/javascript").
		$(function(){
			banner.initModule($('.banner'));
			Wxgd.init($(".J_wxgd"));
		})