doctype html
html
	head
		meta(charset='utf-8')
		link(rel="stylesheet" type="text/css" href="/static/css/reset.css")
		link(rel="stylesheet" type="text/css" href="/static/css/public.css")
		link(rel="stylesheet" type="text/css" href="/static/css/index.css")
		link(rel="stylesheet" type="text/css" href="/static/css/product-list.css")
		link(rel="stylesheet" type="text/css" href="/static/css/product-detail.css")
		link(rel="stylesheet" type="text/css" href="/static/css/product-car.css")
		link(rel="stylesheet" type="text/css" href="/static/css/product-order.css")
		link(rel="stylesheet" type="text/css" href="/static/css/product-success.css")
		link(rel="stylesheet" type="text/css" href="/static/css/login.css")
		script(src="/static/js/jquery-1.11.3.min.js")
		script(src="/static/js/angular.min.js")
		title 老王农场
	body
		.top
			.top-welcome(class="clearfix")
				.top-welcome-left
					strong 欢迎来到老王水果基地!
					span 送货至：
					div 重庆市 
				.top-welcome-right
					span 王鹏宇
					form(method="post" action="#")
						input(type="submit" value="注销")
					a(href="#") 登录
					a(href="#") 注册
					i |
					p 18883993424
		.header
			.header-main(class="clearfix")
				.header-main-left
					.header-left-logo
						img(src="/static/images/logo.png" alt="" title="")
				.header-main-right
					.header-right-search
						form(method="post" action="#")
							input(type="text" name="key" placeholder="请输入你想吃的水果")
							input(type="submit" value="搜索")
					.header-right-car
						p
							a(href="/product/car") 我的购物车
						span 2
					p 推荐：
						span 不知火
						span 丑甘
						span 黄岩蜜桔
						span 瓯柑  
		.nav
			ul
				li
					img(src="/static/images/icon.gif")
				li
					a(href="/") 首页
				li
					a(href="") 关于我们
				li
					a(href="/product") 水果选购
				li
					a(href="") 水果百科
				li
					a(href="") 联系我们
		block content
		.link.clearfix
			.link-wrap
				.link-list
					dl
						dt 
							a(href="#") 新手指南
						dd
							a(href="#") 购物流程
						dd
							a(href="#") 购物流程
						dd
							a(href="#") 购物流程
						dd
							a(href="#") 购物流程
					dl
						dt 
							a(href="#") 新手指南
						dd
							a(href="#") 购物流程
						dd
							a(href="#") 购物流程
						dd
							a(href="#") 购物流程
						dd
							a(href="#") 购物流程
					dl
						dt 
							a(href="#") 新手指南
						dd
							a(href="#") 购物流程
						dd
							a(href="#") 购物流程
						dd
							a(href="#") 购物流程
						dd
							a(href="#") 购物流程
					dl
						dt 
							a(href="#") 新手指南
						dd
							a(href="#") 购物流程
						dd
							a(href="#") 购物流程
						dd
							a(href="#") 购物流程
						dd
							a(href="#") 购物流程
					dl
						dt 
							a(href="#") 新手指南
						dd
							a(href="#") 购物流程
						dd
							a(href="#") 购物流程
						dd
							a(href="#") 购物流程
						dd
							a(href="#") 购物流程
				.link-right
					img(src="/static/images/logo.png")
					p 客服电话：18883993424
					p 地址：四川仁寿水果基地
		.copy
			p All Rights Reserved©2011-2017 | 公司统一信用码 913101165852570112