extends ./layout.pug
block content
	.car-title
		h1 购物车
	.car-step
		table
			tbody
				tr
					td.car-active.car-bg
						i 1
						| 购物车
					td ->
					td.car-bg
						i 2
						| 填写和提交订单
					td ->
					td.car-bg
						i 3
						| 订单提交成功
	.car-content
		h2 已选择商品
		form(action="#" method="post")
			table
				thead
					tr
						th 商品图片
						th 商品名称 
						th 数量
						th 销售价
						th 操作
				tbody
					tr(ng-repeat="item in users.cart" ng-init="product=item.product[0]")
						td
							a(href="" class="car-content-img")
								img(ng-src="/static/images/{{product.imgFile}}" ng-click="setProduct(product._id)")
						td(bg-bind="product.title")
						td
							a(href="javascript:;") -
							input(type="text" value="{{item.quantity}}")
							a(href="javascript:;") +
						td(bg-bind="product.shopPrice")
						td(ng-click="deleteFromCart(product._id)") 删除
				tfoot
					tr
						td(colspan="4")
						td 总金额
						td ￥#{cartTotal()}
					tr
						td
							a(ng-click=".emptyCart()") 清空购物车
						td(colspan="3")
						td
							a(href="/product/list") 继续购物
						td
							input(type="submit" value="下单结算")